.row
  .col-md-12
    .well
      Sup brah.
      %br
      %br
      This admin section gives you the tools to edit all of the dynamic parts of the website.
      %br
      %br
      There are a grand fucking total of one editable section on this website:
      %br
      %ol
        %li Posts - manage the posts here
        %li Users - manage the website's users here