.midpart
  .titlediv
    %h1.boldf About
    %h2.thinf Artist
  %hr
  .contentarea.clearfix
    .block
      %h4.lightf
        Solo work
      %p Durban From Far is currently comprised of me alone - Ben Coullie (23). I started the project to practice and improve on soundtrack-inspired composition and that's just what I'll do.
      %p I collect soundtracks; from obscure indie games to hollywood films I've been slowly amassing my own personal library which (as well as giving me feels) provides a massive chunk of my inspiration.
      %p In late 2013 I moved from Durban, South Africa to Auckland , New Zealand (LOTR awww yus).
      %p Ultimately I want to compose soundtracks. Sounds cliché, but I don't care about being paid for it.
    .block.margintopaboutimg
      %img.borderednormal{:alt => "Ben Coullie", :src => "assets/bencoullie.jpg"}/
      %p.caption (The picture is a lie, I suck at guitar).
  %hr.margintop/
  .titlediv.left
    %h1.boldf About
    %h2.thinf method
  %hr
  .contentarea.clearfix
    .block.margintopaboutimg
      %img.borderednormal{:alt => "Renoise DAW", :src => "assets/renoise.JPG"}/
    .block.second
      %h4.lightf.margintopten.tac Digital
      %p.other
        90% of what I do is via a DAW (digital audio workstation).
        %a.linkstyle{:href => "http://www.renoise.com"} Renoise
        is the one I use most often.
      %p.other Ideally I would have people play the instruments but, as orchestras are hard to come by, I make do with digital sounds.
      %p.other Although I'm still learning myself, I'll be more than happy to help anyone wanting to understand the basics. Just email me!
      %h4.lightf.margintoptwenty.tac Instrumental
      %p.other I love to play around with different instruments and figure out ways of including them in my music.
      %p.other I primarily play ukulele but I also dabble in guitar, piano and pretty much anything else I can get my hands on.
      %p.other I plan to incorporate more instrumental stuff as I get better (don't hold your breath).
  %hr.margintop/
  .titlediv.right
    %h1.boldf About
    %h2.thinf Portfolio
  %hr
  .contentarea.clearfix
    .block
      %h4.lightf
        My work in the wild...
      %p
        %a.linkstyle{:href => "https://www.youtube.com/user/RiteStudios"}> Rite Studios
        , a Durban-based advertising organization, used two of my songs in two seperate video advertisements.
      %p.tindent
        \- The song '
        %a.linkstyle{:href => "https://soundcloud.com/durbanfromfar/go-on-were-right-behind-you"}> Go on, we're right behind you
        ' was used in a golf-estate advertisement.
      %p.tindent
        \- The song '
        %a.linkstyle{:href => "https://soundcloud.com/durbanfromfar/commander-theyre-here"}> Commander, They're Here
        ' was used in a resort and casino advertisment.
      %br/
      %p I'm not aiming to write for advertisments, but everyone has to start somewhere.
      %p
        If you want me to write some music for you, just contact me! Otherwise feel free to use my existing music, just let me know via
        = succeed "." do
          %a.linkstyle{:href => "mailto:bencoullie@gmail.com?subject=Using your music"} bencoullie@gmail.com
    .block.margintopaboutimg
      .iframevid
        %iframe{:allowfullscreen => "", :frameborder => "0", :height => "100%", :src => "http://www.youtube.com/embed/videoseries?list=PLgEr8cnpVZ9pahbqvqfAX7K9aMpzVZjBE", :width => "100%"}