.midpart
  .titlediv
    %h1.boldf All
    %h2.thinf Releases
  %hr
  .contentarea.clearfix.albums
    .block
      = link_to image_tag( 'shortstories.jpg'), ss_path, class: "blurimg1"
      .albumyear
        %h4.lightf (2014)
    .block
      = link_to image_tag( 'illustrationsalbum.jpg'), illustrations_path, class: "blurimg1"
      .albumyear
        %h4.lightf (TBA)