.midpart
  .titlediv
    %h1.boldf "Stay awhile
    %h2.thinf and listen"
  %hr/
  / ISOTOPE SECTION
  .contentarea.clearfix
    .fullblock.clearfix.radio
      #filters.button-group.js-radio-button-group
        %a.current{"data-filter" => "*", :href => "#"}
          .buttonall Show all
        %a{"data-filter" => ".soundtrack", :href => "#"}
          .button Soundtrack
        %a{"data-filter" => ".instrumental", :href => "#"}
          .button Instrumental
        %a{"data-filter" => ".8bit", :href => "#"}
          .button 8bit
    .fullblock
      #container
        .item.w2.soundtrack
          %iframe{:frameborder => "no", :height => "166", :scrolling => "no", :src => "https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/145260697&auto_play=false&hide_related=false&visual=true", :width => "100%"}
        .item.w2.8bit
          %iframe{:frameborder => "no", :height => "166", :scrolling => "no", :src => "https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/129556433&color=ff5500&auto_play=false&hide_related=false&visual=true", :width => "100%"}
        .item.w2.instrumental
          %iframe{:frameborder => "no", :height => "166", :scrolling => "no", :src => "https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/127055423&color=ff5500&auto_play=false&hide_related=false&visual=true", :width => "100%"}
        .item.w2.8bit
          %iframe{:frameborder => "no", :height => "166", :scrolling => "no", :src => "https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/53704715&color=ff5500&auto_play=false&hide_related=false&visual=true", :width => "100%"}
        .item.w2.soundtrack
          %iframe{:frameborder => "no", :height => "166", :scrolling => "no", :src => "https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/59967117&color=ff5500&auto_play=false&hide_related=false&visual=true", :width => "100%"}
        .item.w2.8bit
          %iframe{:frameborder => "no", :height => "166", :scrolling => "no", :src => "https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/104846232&color=ff5500&auto_play=false&hide_related=false&visual=true", :width => "100%"}
        .item.w2.8bit
          %iframe{:frameborder => "no", :height => "166", :scrolling => "no", :src => "https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/88709229&color=ff5500&auto_play=false&hide_related=false&visual=true", :width => "100%"}
        .item.w2.instrumental
          %iframe{:frameborder => "no", :height => "166", :scrolling => "no", :src => "https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/106463634&color=ff5500&auto_play=false&hide_related=false&visual=true", :width => "100%"}
        .item.w2.8bit
          %iframe{:frameborder => "no", :height => "166", :scrolling => "no", :src => "https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/94240389&color=ff5500&auto_play=false&hide_related=false&visual=true", :width => "100%"}
        .item.w2.soundtrack
          %iframe{:frameborder => "no", :height => "166", :scrolling => "no", :src => "https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/116050852&color=ff5500&auto_play=false&hide_related=false&visual=true", :width => "100%"}
  / ISOTOPE SECTION
.midplspls
  %i.fa.fa-music