%footer.botpart
  .midpart
    .footerlogos
      %a{:href => "https://www.facebook.com/pages/Durban-From-Far/163659036991753", :title => "Link to facebook fan-page"}
        %i.fa.fa-facebook-square
      %a{:href => "https://twitter.com/DurbanFromFar", :title => "Link to twitter fan-page"}
        %i.fa.fa-twitter-square
  .designby
    Website design by:
    %a{:href => "http://bencoullie.github.io/portfoliosite"} Ben Coullie